@font-face {
    font-family: 'freight-big-pro' ;
    src: url('/css/FreightBig/FreightBigProBook-Regular.eot');
    /* IE9 Compat Modes */
    src: url('/css/FreightBig/FreightBigProBook-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/css/FreightBig/FreightBigProBook-Regular.woff') format('woff'), /* Modern Browsers */
    url('/css/FreightBig/FreightBigProBook-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/css/FreightBig/FreightBigProBook-Regular.svg#d906414b23e99c56f4963a7af04c121c') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
body {
    color: #51504c;
}
.site-header__lower {
    background: #A31D1D;
    height: 58px;
}
.site-header__lower .toolbar,
.breadcrumb  {
    display: none;
}
.page-heading {
    padding-top: 0;
}
.page-header {
    border-bottom: none;
    font-family: 'freight-big-pro', serif;
    margin-bottom: 40px;
}
.page-header h1 {
    display: table;
    font-family: 'Crimson Text', serif;
    margin: 0 auto;
    padding-bottom: 8px;
    position: relative;
    text-align: center;
}
.page-header h1:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 1px;
    bottom: -8px;
    left: 15%;
    background-color: #c4a480;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    transition: all 0.3s ease;
}
.main-content {
    font-family: 'Open Sans', sans-serif;
}
.form-header {
    margin: 15px 0;
}
.crmEntityFormView .tab {
    margin-bottom: 30px;
}
.tab {
    background-color: #F4F2F0;
    border: none;
    margin: 0 0 2em;
    padding: 24px 1.5em 0;
}
.crmEntityFormView table.section {
    background: none;
    border: 1px solid #D0B89D;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    margin: 0 0 2em;
    padding: 1em 1em 0;
}
.crmEntityFormView .cell label {
    font-weight: normal;
    margin-bottom: 0;
}
.form-control {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    height: 40px;
    margin-bottom: 12px;
    min-height: 40px;
    padding: 6px 12px;
}
.datetimepicker .input-group-addon {
    background: url('/css/images/datepicker.png') center no-repeat;
    border: none;
    padding: 6px 22px;
}
.datetimepicker .icon-calendar {
    display: none;
}
.checkbox-cell .control {
    top: -7px;
}
.checkbox input:before {
    content: "";
    display: block;
    border: 1px solid #D0B89D;
    background: #ffffff;
    width: 19px;
    height: 19px;
}    
.checkbox input:checked:after {
    color: #D0B89D;
    content: "\2713";
    position: absolute;
    right: 4px;
    top: 13px;
}
.crmEntityFormView .cell.boolean-radio-cell label {
    margin-right: 10px;
}
.boolean-radio-cell .control {
    margin-top: 10px;
}
.boolean-radio-cell input {
    position: relative;
}
.boolean-radio-cell input:before {
    border: 1px solid #D0B89D;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    border-radius: 19px;
    background: #ffffff;
    content: "";
    display: block;
    height: 19px;
    position: absolute;
    right: 0;
    top: -2px;
    width: 19px;
}
.boolean-radio-cell input:checked:after {
    background-color: #D0B89D;
    border-radius: 6px;
    content: "";
    height: 11px;
    position: absolute;
    right: 4px;
    top: 2px;
    width: 11px;
}
/*.btn {
    margin-top: 0;
    color: white;
    background: #333;
    padding: 12px 24px;
    line-height: 100%;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "freight-sans-pro",sans-serif;
    letter-spacing: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    transition: all 0.1s ease;
}
.btn.btn-primary {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: #b31b1b;
    border-radius: 0;
    border: none;
    font-size: 14px;
    padding: 18px 32px;
    text-transform: uppercase;
}
.btn.btn-primary:hover {
    background: #871414;
}
.btn:hover {
    background: #1a1a1a;
}*/
.site-logo {
    display: none;
}
.page-heading {
    position: relative;
}
.unauthenticated-header {
    display: block;
    position: absolute;
    top: -120px;
}
.unauthenticated-header h1 a,
.unauthenticated-header h2 a {
    height: 44px;
    width: 160px;
    display: block;
    float: left;
}
.unauthenticated-header h1 a:hover,
.unauthenticated-header h2 a:hover {
    background: none;
    border: none;
} 
.unauthenticated-header h1 {
    background: url('/css/images/lubs.png');
    background-repeat: no-repeat;
    background-position: 0,0;
    text-indent: -9999px;
    overflow: hidden;
    float: left;
    font-size: 32px;
    color: white;
    margin: 0 0 18px 0;
    padding: 0;
    width: 160px;
    height: 44px;
}
.unauthenticated-header h2 {
    float: right;
    margin: 0 0 18px 0;
    padding: 0;
    width: 171px;
    height: 44px;
    position: relative;
    top: -5px;
}
.alert-block a {
    color: #b31b1b;
}
.site-title {
    display: none;
}